*{
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
}
.app{
    margin: 30px;
}
input{
    padding: 6px;
    margin: 5px;
    border-radius: 10px;
    border-color: aqua;
    font-size: 18px;
}
label{
    font-size: 20px;
    margin: 5px;
}
h2{
    font-size: 22px;
    margin-top: 40px;
    font-family: sans-serif;
    font-weight: 550;
    color: lightskyblue;
}
button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgreen;
}
button:hover{
    font-size: 15px;
    background-color: rgb(28, 24, 34);
    color: white;
}
input:hover{
    background-color: lightpink;
}