h5{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: yellowgreen;
}
.log{
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: yellow;
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    
}
.log{
    background-color: bisque;
    color: white;
}
 
    #container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 80%;
      margin: auto;
      gap: 20px;
    }
    #container > div {
     
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    #container > div > img {
      width: 100px;
      cursor: pointer;
    }
    #container div h3{
        font-size: 20px;
        font-weight: 550;
        font-family: sans-serif;
    }
    #container div p{
        font-size: 20px;
        font-weight: 550;
        font-family: sans-serif;
    }
    #container div h6{
        font-size: 20px;
        font-weight: 550;
        font-family: sans-serif;
    }
    #container div button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
}
#container div button:hover{
    background-color: aquamarine;
    color: black;
}